.repository-selection {
  display: flex;
  min-height: 100vh;
}

.repository-selection > div {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  margin: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.repository-selection > div:not(:last-child) {
  border-right: 1px solid white;
}

.repository-selection .browse-icon {
  height: 30px;
  filter: invert(100%);
  margin: 0 5px;
  cursor: pointer;
}

.repository-selection .browse-files {
  display: flex;
  align-items: center;
  padding: 10px;
}

.repository-selection .imported-repositories {
  padding: 10px;
}

.repository-selection .imported-repositories .imported-repository {
  padding: 10px 5px;
  cursor: pointer;
}

.repository-selection .imported-repositories .imported-repository:hover {
  background: #4c5463;
}