.repository-selection {
  display: flex;
  min-height: 100vh;
}

.repository-selection > div {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.repository-selection .browse-icon {
  height: 30px;
  filter: invert(100%);
  margin: 0 5px;
  cursor: pointer;
}

.repository-selection .browse-files {
  display: flex;
  align-items: center;
  padding: 10px;
}

.repository-selection .imported-repositories {
  padding: 10px;
}

.repository-selection .imported-repositories .imported-repository {
  padding: 10px 5px;
  cursor: pointer;
}

.repository-selection .imported-repositories .imported-repository:hover {
  background: #4c5463;
}

.repository-selection .subtitle {
  font-size: 20px;
}

.repository-selection input {
  border-radius: 4px;
  flex: 1 1 auto;
  margin-right: 5px;
  border: 1px solid white;
  cursor: default;
  min-width: 100%;
}

.repository-selection input.invalid {
  border-color: rgb(255, 77, 0);
  animation: shake 0.5s linear;
  -webkit-animation: shake 0.5s linear;
}

@keyframes shake {
  8%,
  41% {
    transform: translateX(-10px);
  }
  25%,
  58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  8%,
  41% {
    -webkit-transform: translateX(-10px);
  }
  25%,
  58% {
    -webkit-transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-5px);
  }
  92% {
    -webkit-transform: translateX(5px);
  }
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
}
