.repository-management {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.repository-management .container {
  height: calc(100% - 50px);
  width: 100vw;
  display: flex;
}

.repository-management .container .menu {
  flex: 1 1 30%;
  max-width: 300px;
  min-width: 200px;
}

.repository-management .container .content {
  flex: 1 1 70%;
}
