.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.header .back img {
  height: 50px;
  filter: invert(100%);
  position: absolute;
  top: 0;
  left: 0;
}
